.ejo{
    margin: 10px auto;
}
a#logo:hover{
    color: #000000 !important;
}
.errorMsg{
    color: #ff0000;
    font-size:0.8em;
    text-align: center;
}
textarea{
    resize: vertical;
    max-height: 10em;
}

a.small_button{
    line-height: 1.75em;
}
.records{
    margin-bottom: 1em;
}
.is-loading{
    width: 3em;
    margin: 0 auto;
    overflow: hidden;
}
.record{
    background-color: rgb(250, 247, 247);
    margin:1px auto;
    padding: 0 10px;
    border-radius: 0.4em;
}
.upload_button{
    text-align: center;
}

.upload_button .alt{
    background: rgba(71, 170, 196, 0.7);
}

/*styling input type file */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


/*DRAG AND DROP */
#target1, #target2{
    float:left;
    width: 70%; height: auto;

    /*background-color: rgba(102, 179, 255, 0.5);*/
    background-color:rgba(71, 170, 196, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1em;
    text-align: center;
}

#draggable1,#draggable2, #draggable3, #draggable4, #draggable5, #draggable6, #draggable7, #draggable8, #draggable9, #draggable10{
    width: 100%; height: 70px; padding: 15px;
    background-color: rgba(255, 255, 255, 1.0);
    margin: 10px auto;
    cursor: move;
    text-align: center;

}

#target1 h2, #target2 h2{
    color: #ffffff;
}
.d_pic{
    height:200px;
    width: 200px;
    border-radius: 100px;
    margin: 0 auto;

}
#d0{
    background: #f7f7f7  url("images/akinade.jpg")no-repeat;
}
#d1{
    background: #f7f7f7 url("images/moses.png")no-repeat;
}
#d2{
    background: #f7f7f7 url("images/caleb.jpg")no-repeat;
}

.report{
    text-align: center;
    color: #37c0fb;
    margin-bottom: 2em;
}

.fill{
    width: 50%;
    margin: 10px auto;
}

.event{
    width: 70%;
    margin: 20px auto;
}

.output{
    text-align: center;
    padding: 1em;
}

.files .delete{
    float: right;
    font-size: 3em;
    cursor: pointer;
    color: #37c0fb;
    margin-top: 5px;
}

.files button, .files a{
    float: right;
    margin: 8px;
}

.emptyRecord{
    color:#999999;
    font-size: 1.7em;
}
.info{
    background: rgba(47, 212, 219, 0.11);
    margin-bottom: 0.3em;
}

label >input[type = 'search']{
    border: solid thin #ddd;
    padding: 0.3em;
}

label >input[type = 'search']:focus{
    border: none;
    padding: 0.3em;
}

.form-group > label{
    font-size: 0.7em;
    margin-bottom: 0;
}
.grey_text{
    color: #aaaaaa;
}
.cursor{
    cursor: pointer;
}
div.load_panel > h3{
    color: #aaa;
}