/*
	Arcana by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0.5em;
	}

	header p {
		margin-top: -0.75em;
	}

	header.major {
		text-align: center;
		margin: 0 0 2em 0;
	}

		header.major h2 {
			font-size: 1.75em;
		}

		header.major p {
			top: -0.25em;
			font-size: 1.25em;
		}

	#skel-layers-wrapper {
		padding-top: 44px;
		overflow-x: hidden;
	}

/* Box */

	.box.highlight {
		text-align: left;
		position: relative;
		padding-left: 7em;
	}

		.box.highlight i {
			position: absolute;
			margin: 0;
			left: 0;
			top: 0.25em;
		}

	.box.post .inner {
		margin-left: calc(20% + 2em);
	}

	.box.post .image {
		width: 20%;
	}

/* Header */

	#header {
		display: none;
	}

/* Banner */

	#banner {
		height: 20em;
	}

		#banner header h2 {
			display: block;
		}

		#banner header .button {
			margin: 1em 0 0 0;
		}

/* CTA */

	#cta {
		padding: 1.5em 0;
	}

		#cta header h2 {
			display: block;
		}

		#cta header .button {
			margin: 1em 0 0 0;
		}

/* Footer */

	#footer {
		text-align: center;
	}

		#footer .container {
			margin-bottom: 4em;
		}

/* Layers */

	#titleBar {
		background-color: #333;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
		background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3)), url("images/bg01.png");
		height: 44px;
		line-height: 44px;
		box-shadow: 0 4px 0 0 #37c0fb;
	}

		#titleBar .title {
			display: block;
			position: relative;
			font-weight: 600;
			text-align: center;
			color: #fff;
			z-index: 1;
		}

			#titleBar .title em {
				font-style: normal;
				font-weight: 300;
			}

		#titleBar .toggle {
			height: 60px;
			left: 0;
			position: absolute;
			top: 0;
			width: 80px;
			z-index: 2;
		}

			#titleBar .toggle:before {
				content: "\f0c9";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#titleBar .toggle:before {
				display: block;
				height: 44px;
				text-align: center;
				width: 44px;
				color: #fff;
				opacity: 0.5;
			}

			#titleBar .toggle:active:before {
				opacity: 0.75;
			}

	#navPanel {
		background-color: #1f1f1f;
		box-shadow: inset -1px 0 3px 0 rgba(0, 0, 0, 0.5);
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -o-linear-gradient(left, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: linear-gradient(left, rgba(0,0,0,0) 75%, rgba(0,0,0,0.15)), url("images/bg01.png");
	}

		#navPanel .link {
			border-bottom: 0;
			border-top: solid 1px rgba(255, 255, 255, 0.05);
			color: #888;
			display: block;
			height: 48px;
			line-height: 48px;
			padding: 0 1em 0 1em;
			text-decoration: none;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: #fff;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2em;
			}

			#navPanel .link .indent-3 {
				display: inline-block;
				width: 3em;
			}

			#navPanel .link .indent-4 {
				display: inline-block;
				width: 4em;
			}

			#navPanel .link .indent-5 {
				display: inline-block;
				width: 5em;
			}


