
@font-face {
    font-family: 'source_sans_proregular';
    src: url('source_sans/sourcesanspro_regular_macroman/SourceSansPro-Regular-webfont.eot');
    src: url('source_sans/sourcesanspro_regular_macroman/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('source_sans/sourcesanspro_regular_macroman/SourceSansPro-Regular-webfont.woff') format('woff'),
    url('source_sans/sourcesanspro_regular_macroman/SourceSansPro-Regular-webfont.ttf') format('truetype'),
    url('source_sans/sourcesanspro_regular_macroman/SourceSansPro-Regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('source_sans/sourcesanspro_bold_macroman/SourceSansPro-Bold-webfont.eot');
    src: url('source_sans/sourcesanspro_bold_macroman/SourceSansPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('source_sans/sourcesanspro_bold_macroman/SourceSansPro-Bold-webfont.woff') format('woff'),
    url('source_sans/sourcesanspro_bold_macroman/SourceSansPro-Bold-webfont.ttf') format('truetype'),
    url('source_sans/sourcesanspro_bold_macroman/SourceSansPro-Bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('source_sans/sourcesanspro_light_macroman/SourceSansPro-Light-webfont.eot');
    src: url('source_sans/sourcesanspro_light_macroman/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('source_sans/sourcesanspro_light_macroman/SourceSansPro-Light-webfont.woff') format('woff'),
    url('source_sans/sourcesanspro_light_macroman/SourceSansPro-Light-webfont.ttf') format('truetype'),
    url('source_sans/sourcesanspro_light_macroman/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('source_sans/sourcesanspro_semibold_macroman/SourceSansPro-Semibold-webfont.eot');
    src: url('source_sans/sourcesanspro_semibold_macroman/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('source_sans/sourcesanspro_semibold_macroman/SourceSansPro-Semibold-webfont.woff') format('woff'),
    url('source_sans/sourcesanspro_semibold_macroman/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
    url('source_sans/sourcesanspro_semibold_macroman/SourceSansPro-Semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}







